<table>
  <tr>
    <td><a href="/"><img border="0" src="weather.jpeg" width="100" height="100"> </a></td>
    <td><H1>My Weather</H1></td>
  </tr>
</table>
<form method="post" action="weather">
  <input type="radio" name="type" value="name" checked> Name
    <input type="radio" name="type" value="cp"> Postal Code
  <input id="input" name="input">
   Country <select id="country" name="country">
    <option selected value="FR">France</option>
    <option value="GR">Germany</option>
    <option value="UK">United Kingdom</option>
    <option value="US">Unites States</option>
  </select>
<input type="submit">
</form>
