<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>My Weather</title>
  </head>
  <body>
  	<%- include("banner");%>
    <BR>
    <H2> Error during the processing
    </H2>
    <BR>
      <%= error_msg %>
  </body>
  </html>
